{%  extends 'base.html.twig' %}

{% block main %}
    <nav>
        <ul>
            <li><a href="{{ path ('admin_books') }}">Liste des livres</a></li>
        </ul>
    </nav>

    <h1>Bienvenue à La Librairie</h1>
    <h2>La meilleure librairie de France</h2>
{% endblock main %}



